{% extends "base.html" %} 

{% block title %} 
Update Movie Details 
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-weight: 1000; font-family: 'Poppins', sans-serif" href="/">Ticker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          {% if user.is_theatre_admin %}
            <a class="nav-link" href="/my_theaters">Theater</a>
            <a class="nav-link" href="/movies">Movies</a>
        </li>
        {% else %}
        <a class="nav-link" href="/my_tickets">My Tickets</a>
        {% endif %}
        {% endif %}
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_admin %}
              {{ user.name }}, Admin
            {% else %}
              {{ user.name }}
            {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="nav-link" href="/logout">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


 {% with messages = get_flashed_messages(with_categories=true) %}
 {% if messages %}
 {% for category, message in messages %}
 {% if category == 'error' %}
 <div class="alert alert-danger alert-dismissible fade show" role="alert">
     {{ message }}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 {% elif category == 'success' %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">
     {{ message }}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 {% elif category == 'warning' %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
     {{ message }}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 {% elif category == 'note' %}
 <div class="alert alert-secondary alert-dismissible fade show" role="alert">
     {{ message }}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
 </div>
 {% endif %}
 {% endfor %}
 {% endif %}
 {% endwith %}

<h3 style="display: flex; justify-content: center;align-items: center;padding-top:5%; font-weight:700">Update Movie</h3>
<div class="form" style="display: flex; justify-content: center;align-items: center;padding-top:10px;padding-bottom:60px">
<form method = "POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input type="Text" class="form-control" placeholder="Title of the movie" name="title" value= "{{ movie.title }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Genre</label>
        <input type="text" class="form-control" name="Genre" value= "{{ movie.Genre }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">rating (out of 5)</label>
        <input type="number" step="0.01" class="form-control" name="rating" min="0" max="5" value= "{{ movie.rating }}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Poster</label>
        <input type="file" class="form-control" accept="image/*" placeholder="Upload New Image" name="poster" value="{{ movie.poster }}" required>
    </div>
    <button type="submit" class="btn btn-primary ">Update</button>
</form>
</div>
{% endblock %}