

/* ===============================Nav============================= */

.logo{
  height: 3rem;
  width: 3rem;
}
.logo-text{
  display: flex;
  align-items: center;
}

/* ===============================End of Nav============================= */
